@model SGCorpHR.UI.Models.PtoEditVM

@{
    ViewBag.Title = "EditPtoRequest";
}

<h2>Edit Pto Request</h2>


@using (Html.BeginForm("SubmitEditedRequest", "TimeTracker", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m=>m.PtoRequestToEdit.PtoRequestID, Model.PtoRequestToEdit.PtoRequestID)
        <div class="form-group">
            @Html.LabelFor(model => model.PtoRequestToEdit.EmpID, "Employee ID", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DisplayTextFor(m=>m.PtoRequestToEdit.EmpID)
                @Html.HiddenFor(m => m.PtoRequestToEdit.EmpID, Model.PtoRequestToEdit.EmpID)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FullName, "Employee Name",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayTextFor(model => model.FullName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PtoRequestToEdit.ManagerID, "Approver",  htmlAttributes:  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m=>m.PtoRequestToEdit.ManagerID, Model.Managers,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PtoRequestToEdit.ManagerID, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PtoRequestToEdit.HoursRequested, "Hours Requested",  htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.PtoRequestToEdit.HoursRequested, new[]
                {
                    new SelectListItem {Text = "4", Value = "4"},
                    new SelectListItem {Text = "8", Value = "8"},
                }, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PtoRequestToEdit.HoursRequested, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PtoRequestToEdit.Date, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.PtoRequestToEdit.Date, new { htmlAttributes = new { @class = "form-control" }})
                @Html.ValidationMessageFor(model => model.PtoRequestToEdit.Date, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PtoRequestToEdit.PtoStatus, "Approval Status",htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(m=>m.PtoRequestToEdit.PtoStatus, new[]
                {
                    new SelectListItem {Text = "Approved", Value = "Approved"},
                    new SelectListItem {Text = "Rejected", Value = "Rejected"},
                }, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PtoRequestToEdit.PtoStatus, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PtoRequestToEdit.ReasonRejected, "Reason Rejected",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PtoRequestToEdit.ReasonRejected, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PtoRequestToEdit.ReasonRejected, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit Edits" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
