@using System.Collections
@using SGCorpHR.Models
@model SGCorpHR.Models.Response<SGCorpHR.Models.TimeTrackerSummary>
@{
    ViewBag.Title = "SelectedEmployeeSummary";
    
}

   <h3>Summary</h3>

<div>

    @Html.HiddenFor(m => m.Data.SelectedEmployee.EmpID, Model.Data.SelectedEmployee.EmpID)
    <label>Employee ID: </label>
    @Model.Data.SelectedEmployee.EmpID <br/>

    <label>Employee Name: </label>
    @Model.Data.SelectedEmployee.FirstName @Model.Data.SelectedEmployee.LastName<br/>

    <label>Employee Hire Date: </label>
    @Model.Data.SelectedEmployee.FormattedHireDate<br/>

    <label>Total Hours To Date: </label>
    @Model.Data.TotalHoursWorked<br/>
</div>
@if (Model.Data.AllTimesheets != null)
{
    <table class="table">
        <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Total Hours
            </th>
            <th>
                Entry Type
            </th>
            <th>
                Status
            </th>
        </tr>
        </thead>
        <tbody>

        @foreach (var ts in Model.Data.AllTimesheets)
        {
            <tr>
                <td>@ts.FormattedDateOfTimesheet</td>
                <td>@ts.TotalHoursByDay</td>
                <td>@ts.EntryTypeName</td>
                <td>N/A</td>
                <td>
                    <form action="/TimeTracker/DeleteTimesheet" method="Post">
                        <input type="hidden" name="TimesheetId" id="TimesheetId" value="@ts.TimesheetId"/>
                        <input type="hidden" name="EmpId" id="EmpId" value="@ts.EmpId"/>

                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>

        }
            @if((List<PaidTimeOff>)ViewBag.empPtoList !=null) {
            foreach (var pt in (List<PaidTimeOff>) ViewBag.empPtoList)
            {
                <tr>
                    <td>@pt.Date.ToShortDateString()</td>
                    <td>@pt.HoursRequested</td>
                    <td>@pt.EntryTypeName</td>
                    <td>@pt.PtoStatus @if (pt.ReasonRejected != "N/A")
                                      {
                                          @pt.ReasonRejected
                                      }</td>
                    <td></td>


                </tr>

            }
            }

        </tbody>
    </table>
}
else
{
    { <p>@Model.Message</p>}
}


