@model SGCorpHR.UI.Models.TimeTrackerVM
@{
    ViewBag.Title = "TimeTracker";
}

@using (Html.BeginForm("TimeTracker", "TimeTracker", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <h2>TimeTracker</h2>

    <div>
        <label>Employee</label>
        @Html.DropDownListFor(m => m.SelectedEmployee.EmpID, Model.EmployeeInfo)
    </div>
}

@*<div>
    <h3>Summary Box</h3>
    @Html.HiddenFor(m=>m.SelectedEmployee.EmpID,1)
    <p>@Model.SelectedEmployee.EmpID, @Model.SelectedEmployee.FirstName,@Model.SelectedEmployee.LastName,@Model.SelectedEmployee.HireDate, @Model.TotalHoursWorked </p>
</div>*@

