@model SGCorpHR.Models.Response<List<SGCorpHR.Models.PaidTimeOff>>
@{
    ViewBag.Title = "ViewPtoRequests";
}

<h2>View Paid Time Off Requests</h2>

@if (Model.Data != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Employee Id
                </th>
                <th>
                    Date
                </th>
                <th>
                    Number of Hours Requested
                </th>
                <th>
                    Approval Status
                </th>
                <th>
                    Reason Rejected
                </th>
                <th>
                    Manager ID
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var pto in Model.Data)
            {
                <tr>
                    <td>@pto.EmpID</td>
                    <td>@pto.Date.ToString("d")</td>
                    <td>@pto.HoursRequested</td>
                    <td>@pto.Status</td>
                    <td>@pto.ReasonRejected</td>
                    <td>@pto.ManagerID</td>
                    
                    <td>
                        <form action="/TimeTracker/EditPtoRequest" method="Post">
                            <input type="hidden" name="PtoRequestId" id="PtoRequestID" value="@pto.PtoRequestID" />
                            <input type="hidden" name="EmpId" id="EmpId" value="@pto.EmpID" />

                            <button>Edit</button>
                        </form>
                    </td>
                </tr>

            }

        </tbody>
    </table>
}
else
{
    { <p>@Model.Message</p>}
}

